<table class="table">
    <thead>
      <tr>

        <th scope="col">Id</th>
        <th scope="col">Brand-Model</th>
        <th scope="col">Body</th>
        <th scope="col">Fuel</th>
        <th scope="col">Price per day</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carDto of carDtoList">
        <th scope="row">{{carDto.id}}</th>
        <td>{{carDto.brandName}} {{carDto.modelName}}</td>
        <td>{{carDto.bodyType}}</td>
        <td>{{carDto.fuelType}}</td>
        <td>{{carDto.dailyPrice}} ₺</td>

      </tr>
    </tbody>
  </table>
